{% extends '::base.html.twig' %}

{% block title %}{{ 'dashboard.title'|trans }}{% endblock %}

{% block content %}
    {% if anime_count < 1 %}
        <div class="alert alert-warning">
            {{ 'dashboard.anime_counter'|transchoice(anime_count) }}
            {% if is_granted('ROLE_USER') %}
                <a class="alert-link" href="{{ url('facemanga_main_anime_create') }}">
                        {{ 'dashboard.create_first_anime'|trans }}
                </a>
            {% else %}
                <a class="alert-link" href="{{ url('fos_user_security_login') }}">
                    {{ 'dashboard.login_create_first_anime'|trans }}
                </a>
            {% endif %}
        </div>
    {% else %}
        {{ macro.alert('dashboard.anime_counter'|transchoice(anime_count), 'info') }}

        <b class="h4">{{ 'dashboard.popular_animes'|trans|raw }}</b>
        <div class="row">
            {% for anime in popular_animes %}
                <a href="{{ url('facemanga_main_anime_show', {'slug': anime.slug}) }}">
                    <div class="col-md-3">
                        <img src="/img/dummy.png" /><br />
                        {{ anime.name }}
                    </div>
                </a>
            {% endfor %}
            {% if popular_animes|length < 4 %}
                {% set columns_left = 4 - popular_animes|length %}
                {% for i in 1..columns_left %}
                    <div class="col-md-3 visible-md visible-lg">
                        <i>{{ 'dashboard.not_available'|trans }}</i>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}