{% macro alert(text, type) %}
    <div class="alert alert-dismissable alert-{{ type|default('info') }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ text|raw }}
    </div>
{% endmacro %}
{% import _self as macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'brand'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 
                '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap.css'
                '@FaceMangaMainBundle/Resources/vendor/x-editable/css/bootstrap-editable.css'
                '@MopaBootstrapBundle/Resources/public/bootstrap/docs/examples/signin/signin.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: false } %}
                    {% block brand %}
                        <a class="navbar-brand" href="#">{{ 'brand'|trans }}</a>
                    {% endblock %}

                    {% block menu %}
                        {{ mopa_bootstrap_menu('main') }}
                        {% if is_granted('ROLE_USER') %}
                            {#<a id="create_anime_button" href="{{ url('facemanga_main_anime_create') }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'dashboard.create_anime'|trans }}">
                                {{ icon('plus') }}
                            </a>
                            {{ 'navbar.logged_in_as'|trans }}
                            <a class="btn navbar-btn btn-default" data-toggle="dropdown">
                            <a class="btn navbar-btn btn-default" href="{{ path('fos_user_security_logout') }}">
                                {{ 'logout'|trans }}
                            </a>
                            </a>#}
                            <div class="pull-right">
                                <p class="navbar-text">{{ 'navbar.logged_in_as'|trans }}</p>
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                            {{ app.user.username }}
                                        </a>
                                        <ul class="dropdown-menu pull-right" role="menu"> {# TODO: integrate with KnpMenuBundle #}
                                            <li>
                                                <a href="{{ url('facemanga_main_anime_create') }}">
                                                    {{ icon('plus')|raw }} {{ 'create_anime.legend'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fos_user_security_logout') }}">
                                                    {{ icon('log-out')|raw }} {{ 'logout'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                            <div class="pull-right">
                                <a class="btn navbar-btn btn-default" href="{{ path('fos_user_security_login') }}">
                                    {{ 'login'|trans }}
                                </a>
                                <a class="btn navbar-btn btn-success" href="{{ path('fos_user_registration_register') }}">
                                    {{ 'register'|trans }}
                                </a>
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            <div class="container" style="padding-top:40px">
                    {% block content %}{% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {% javascripts 
                '@FaceMangaMainBundle/Resources/vendor/jquery/jquery-2.1.0.js'
                '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
                '@FaceMangaMainBundle/Resources/vendor/bootstrap-touchspin/bootstrap.touchspin.js'
                '@FaceMangaMainBundle/Resources/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js'
                '@FaceMangaMainBundle/Resources/vendor/x-editable/js/bootstrap-editable.min.js'
                '@FaceMangaMainBundle/Resources/public/script.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
