<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: false } %}
                    {% block brand %}
                        <a class="navbar-brand" href="#">FaceManga</a>
                    {% endblock %}

                    {% block menu %}
                        {{ mopa_bootstrap_menu('main') }}
                        {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                            <a class="btn navbar-btn btn-default pull-right" href="{{ path('fos_user_security_login') }}">Login</a>
                        {% elseif is_granted('ROLE_USER') %}
                            <a class="btn navbar-btn btn-default pull-right" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts 
                '@jquery_js'
                '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
