{% extends '::base.html.twig' %}

{% block title %}{{ anime.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <legend>
                {{ anime.name }}
                {% if anime.lastEditor is not null %} {# should actually be true everytime #}
                    <h5><i>{{ 'show_anime.last_edited'|trans({'%name%': anime.lastEditor.username}) }}</i></h5>
                {% endif %}
            </legend>
        </div>
        <div class="col-md-2">
            {% if is_granted('DELETE', anime) %}
                <button class="pull-right btn btn-danger" data-toggle="modal" data-target="#delete">{{ icon('trash') }}</button>
            {% endif %}
        </div>
    </row>
    <div class="row">
        <div class="col-md-3">
            <img src="{{ asset('img/dummy.png') }}" /><br />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 h4" style="text-align:right">
                    {{ 'show_anime.name'|trans }}
                </div>
                <div class="col-md-9">
                    <a href="#" class="x-editable" data-name="name" data-type="text" data-pk="{{ anime.id }}" data-url="{{ url('facemanga_main_ajax_anime') }}">
                        {{ anime.name }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 h4" style="text-align:right">
                    {{ 'show_anime.genre'|trans }}
                </div>
                <div class="col-md-9">
                    {% for label in anime.genre %}
                        <span class="tag label label-info">{{ label }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 h4" style="text-align:right">
                    {{ 'show_anime.viewCount'|trans }}
                </div>
                <div class="col-md-9">
                    {{ anime.viewCount }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 h4" style="text-align:right">
                    {{ 'show_anime.episodes'|trans }}
                </div>
                <div class="col-md-9">
                    <a href="#" class="x-editable" data-name="episodes" data-type="text" data-pk="{{ anime.id }}" data-url="{{ url('facemanga_main_ajax_anime') }}">
                        {{ anime.episodes }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 h4" style="text-align:right">
                    {{ 'show_anime.description'|trans }}
                </div>
                <div class="col-md-9">
                    <a href="#" class="x-editable" data-name="description" data-type="textarea" data-pk="{{ anime.id }}" data-url="{{ url('facemanga_main_ajax_anime') }}">
                        {{ anime.description }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'delete_anime.title'|trans }}</h4>
                </div>
                <div class="modal-body">{{ 'delete_anime.body'|trans }}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'delete_anime.close'|trans }}</button>
                    <a type="button" class="btn btn-primary" href="{{ url('facemanga_main_anime_delete', {'id': anime.id}) }}">{{ 'delete_anime.delete'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}