{% extends '::base.html.twig' %}

{% block title %}{{ anime.name }}{% endblock %}

{% block content %}
    <legend>
        {{ anime.name }}
        <div class="pull-right">
            {% if is_granted('ROLE_USER') and not is_granted('OWNER', anime) %}
                <button id="like-switch" data-likes="{{ anime.likes|length }}" data-id="{{ anime.id }}" type="button" class="btn btn-primary" data-loading-text="{{ 'show_anime.like.ajax_loading'|trans }}">
                    <span class="badge">{{ anime.likes|length }}</span>
                    {% if anime.likes.contains(app.user) %}
                        {{ icon('thumbs-down') }}
                    {% else %}
                        {{ icon('thumbs-up') }}
                    {% endif %}
                </button>
            {% elseif is_granted('OWNER', anime) %}
                <button class="btn btn-primary" data-toggle="tooltip" title="{{ 'show_anime.like.disabled_because_owner'|trans }}" data-placement="bottom">
                    <span class="badge">{{ anime.likes|length }}</span>
                </button>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <button class="btn btn-primary" data-toggle="tooltip" title="{{ 'show_anime.like.disabled_because_anonymous'|trans }}" data-placement="bottom">
                    <span class="badge">{{ anime.likes|length }}</span>
                </button>
            {% endif %}
            {#{% if is_granted('DELETE', anime) %}
                &nbsp;&nbsp;
                <button class="btn btn-danger" data-toggle="modal" data-target="#delete">{{ icon('trash') }}</button>
            {% endif %}#}
            {% if is_granted('EDIT', anime) %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{ icon('cog') }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="{{ url('facemanga_main_anime_edit', {'slug': anime.slug}) }}">
                                {{ icon('pencil') }} {{ 'show_anime.edit'|trans }}
                            </a>
                        </li>
                        {% if is_granted('DELETE', anime) %}
                            <li>
                                <a href="#" data-toggle="modal" data-target="#delete">
                                    {{ icon('trash') }} {{ 'show_anime.delete'|trans }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </legend>
    <div class="row">
        <div class="col-md-3">
            <img src="{{ asset('img/dummy.png') }}" /><br /><br />
            
            {# Genre #}
            <b>{{ 'show_anime.genre'|trans }}</b><br />
            {% for label in anime.genre %}
                <span class="tag label label-info">{{ label }}</span>
            {% endfor %}
            <br /><br />
            
            {# Episodes #}
            <b>{{ 'show_anime.episodes'|trans }}:</b>
                {{ anime.episodes }}
        </div>
        <div class="col-md-9">
            <h3>{{ 'show_anime.description'|trans }}</h3>
            <p>{{ anime.description }}</p>
        </div>
    </div>
    <div class="modal fade" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'delete_anime.title'|trans }}</h4>
                </div>
                <div class="modal-body">{{ 'delete_anime.body'|trans }}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'delete_anime.close'|trans }}</button>
                    <a type="button" class="btn btn-primary" href="{{ url('facemanga_main_anime_delete', {'id': anime.id}) }}">{{ 'delete_anime.delete'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#like-switch').click(function() {
                var like_switch = $(this);
                like_switch.button('loading');
                $.ajax('{{ url('facemanga_main_ajax_switchlike') }}', {data: {id: like_switch.attr('data-id')}})
                    .fail(function() {
                        like_switch.button('reset');
                
                        var alert = '{{ macro.alert('show_anime.like.ajax_failed'|trans, 'danger')|e('js') }}';
                        $('#alert-placeholder').append(alert);
                    })
                    .done(function(data) {
                        like_switch.button('reset');
                        var label = '<span class="badge">' + data['current-likes']  +  '</span>&nbsp;'
                            + '<span class="glyphicon glyphicon-' + data['new-icon'] + '"></span>';
                        
                        like_switch.html(label);
                    });
            });
        });
    </script>
{% endblock %}